extends layout/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="text", placeholder="Current Password", naem="currentPassword")
            input(type="text", placeholder="New Password", name="newPassword")
            input(type="text", placeholder="Verify New Password", name="verifyNewPassword")
            input(type="submit", value="Change Password")
            